.change-color-login:hover {
    background: #df564a;
}

.change-color-clear:hover {
    background: #a5a5a3;
}

.bg-color-change:hover {
    background-color: #a5a5a3;
}

.img-m {
    margin-bottom: -2px;
    margin-right: 5px;
}