.input-custom {
  .MuiOutlinedInput-root {
    height: 24px;
    border: 1px solid #3F3F3F;
    border-radius: 2px;
    &.Mui-focused {
      outline: none;
      box-shadow: 0px 0px 2px 1px #0D90FF;
      .MuiOutlinedInput-notchedOutline {
        border-color: transparent;
      }
    }
    .MuiInputBase-input {
      padding: 0 3px !important;
    }
  }
  .Mui-disabled {
    border-color: #B6B6B6 !important;
  }
}